
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700;800&family=Poppins:wght@400;500;600&display=swap');

a,p{
font-family: 'Poppins', sans-serif;
text-decoration: none;
margin-bottom: 0px;
color:var(--text-color) ;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'EB Garamond', serif;
}

body {
    overflow-x: hidden;
}

/* color */
:root{
    --primary-color: #B68C5A;
    --secondary-color: #fff;
    --text-color: #707070;
}


.btn_bg{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.btn:hover{
    background-color:rgb(245, 108, 17);
}

.bg_img{
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 15rem 0;
    border-radius: 8px;
}


/* banner */
.banner h1{
    font-size: 72px;
    font-weight: 800;
    line-height: 72px;
}

.banner p{
   color: #E7E7E7
}

/* carusel */

.carousel-caption {
    top: 23%;
}

/* Services */

.bg-gradient_color {
    background: linear-gradient(168deg, #f5efef, transparent);
}
/* footer */
footer p,a {
    color:#CFCFCF
}
.logo img {
    width:50%;
}
.subscribe_form{
    position: relative;
}
.subscribe_form button {
    position: absolute;
    right: 0px;
    background: var(--primary-color);
    bottom: 0px;
    border: transparent;
    border-radius: 8px 0px 0px 8px;
}

@media screen and (max-width: 768px) {
    .carousel-item > img {
        height: 44vh;
    }
    .w-50 {
        width: 100% !important;
    }

    .bg_img{
        padding: 8rem 0;
    }
    .banner h1 {
        font-size: 32px;
        line-height: 32px;
    }
}
